@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import "../css/reset.css";


* {
    margin: 0;
}

body {
    min-height: 100vh;
    background: #ffe6e6;
	
}

.container {
	margin: auto;
	margin-top: 4rem;
    position: relative;
    max-width: 370px;
    background-color: snow;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
}

.container form .param-error {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #d93025;
    font-weight: 1000;
}

.container header {
    font-size: 22px;
    font-weight: 500;
    color: black;
    text-align: center;
}

.container .form {
    margin-top: 30px;
}

.form .field {
    margin-bottom: 20px;
}

.form .input-field {
    position: relative;
    height: 55px;
    width: 100%;
}

.input-field input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    margin-top: 10px;
    padding: 15px
}

.invalid input{
    border-color: #f00;
}

.field .error {
    margin-top: 6px;
    color: #d93025;
    font-size: 13px;
    display: none;
}

.invalid .error{
    display: flex;
}

.error .error-icon {
    margin-right: 6px;
    font-size: 15px;
}    

.create-password .error{
    align-items: flex-start;
}

.create-password.error-icon {
    margin-top: 4px;
    margin-right: 6px;
    font-size: 15px;
}

.button{
    margin: 25px 0 6px;
}

.button .submit {
    background-color: #8fa4e3;
}

.submit.clicked {
    background-color: white;
    color: white;
    border-color: white;
    width: 60px;
  height: 60px;
  margin-left: 45%;
  margin-top: 15%;
  border-top: 9px solid  #434A54;
  border-left: 8px solid   #666D78;
  border-bottom: 6px solid   #AABBBD;
  border-right: 6px solid  #ABB2BD;
  border-radius: 100%;
-webkit-animation: nomAnim 1.5s linear 0.5s infinite; 
  animation: nomAnim 1.5s linear 0.5s infinite;
}

.submit.clicked:hover {
    background-color: grey;
    border-color: lightgray transparent;
}

@keyframes nomAnim{
    50%{
      transform: rotate(360deg);
      -webkit-transform: rotate(760deg);
    }
    
    100%{
      transform: rotate(720deg);
      -webkit-transform: rotate(720deg);
    }
}

@-webkit-keyframes nomAnim {
    50%{
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
    
    100%{
      transform: rotate(720deg);
      -webkit-transform: rotate(720deg);
    }
	}

.button input {
    font-size: 16px;
    color: white;
    background-color: #8fa4e3;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #7490e6;
    border-color: rgb(41, 41, 233);
}

