@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600;700&display=swap');

body {
    font-family: 'Quicksand', serif;
	font-family: cursive;
}

.container header {
    align-items: center;
    display: flex;
    margin-top: 0rem;
    margin-left: 1rem;
    font-size: 40px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.container header img {
    width: 150px;
}

.container .menu ul {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	height: 50vh;
	padding-left: 0;
	list-style-type: none;
}

.container .menu p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.container .menu ul li a {
    color:black;
}

.container .menu ul .window{
    padding: 10px;
    justify-content: left;
    
}

.container .menu ul .window p {
    font-size: 20px;
    background-color: #8fa4e3;
    border-radius: 10px;
    border-bottom: 10px;
}

.container .menu ul .window li {
    background-color: white;
    padding: 12px;
    border-radius: 10px;
}

.container .menu ul .window a {
    float: right;
    background-color: lightgrey;
}


.container .menu ul li form input {
    color: red;
}

.container .menu ul li a:hover {
    color: #8fa4e3;
    font-size: 30px;
}

.container .message {
    margin-left: 5rem;
    width: 66.66667%;
    background-color: #FDC68A;
    border-left: .75rem solid #F26C4F;
    padding: .75rem 1.5rem;
    font-size: 1 rem;

    & a:hover {
        border-color: rgba(0, 0, 0, .5);
        color: rgba(0, 0, 0, .5);
    }

    &.note {
        background-color: #7BCDC8;
        border-color: #00A99D;
    }
}

.message h2 {
    font-size: 2rem;

}

code {
    background-color: rgba(0,0,0,.125);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
    display: inline-block;
    margin: 0 .125em;
    padding: 0 .25em;
  }


@media screen and (max-width: 830px){
    .container header  {
        font-size: 25px;
    }
    
   .container header img {
        width: 100px
   }

   .container .menu ul li a {
    font-size: 20px;
   }

   .message {
        font-size: 0.99rem;
    }

    .message h2 {
        font-size: 1.5rem;
    }

}