<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Помощь</title>

    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/menu.css">
    <link rel="stylesheet" href="../../static/css/imganimation.css">
    <link rel="stylesheet" href="../../static/css/account.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/imganimation.css}" />
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
    <link rel="stylesheet" th:href="@{/css/account.css}" />
    <link rel='stylesheet' th:href="@{https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css}" />

</head>
<body>
    <input type="checkbox" id="overlay-input" />
    <label for="overlay-input" id="overlay-button"><span></span></label>
    <div id="overlay">
        <ul>
            <li><a href="#"></a></li>
            <li><a href="/"><b>Главная</b></a></li>
            <li><a href="/psychology"><b>Психология</b></a></li>
            <li><a href="/neuropsychology"><b>Нейропсихология</b></a></li>
            <li><a href="/speech"><b>Логопедия</b></a></li>
            <li><a href="/feedback"><b>Отзывы</b></a></li>
            <li><a href="/account">
                    <img src="/images/user.png" alt="login" class="scale" style="width: 130px; height: 130px;">
                </a>
                <a href="/registration">
                    <img src="/images/login.png" alt="registration" class="scale" style="width: 130px; height: 130px;">
                </a>
            </li>

        </ul>
    </div>

    <div class="container">
        <header>
            <a href="/"><img src="../../static/images/talking.png" alt="talking" class="scale"></a>
            <b>пространствомаргариты.рф</b>
        </header>
        <div class="menu" >
            <p>Выберите нужный раздел</p>
            <ul>
                <li> <a href="/account/profile">Профиль <img src="../../static/images/profile.png" alt="profile"></a></li>
                <li> <a href="/account/records">Записи <img src="../../static/images/records.png" alt="records"></a></li>
                <li> <a href="/account/settings">Настройки <img src="../../static/images/settings.png" alt="settings"></a></li>
                <li> <a href="/account/help" style="color: #8fa4e3;">Помощь <img src="../../static/images/support.png" alt="support"></a></li>
            </ul>
        </div>
    </div>
    <div>
        <a href="/telegram"><img src="../../static/images/telegram.png" alt="telegram" class="scale"
                style="position: fixed; right: 0; bottom: 0;" /></a>
    </div>
</body>
</html>