<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отзывы</title>

    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/imganimation.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/menu.css">

    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/imganimation.css}" />
    <link rel="stylesheet" th:href="@{/css/menu.css}" />

</head>

<body>
    <input type="checkbox" id="overlay-input" />
    <label for="overlay-input" id="overlay-button"><span></span></label>
    <div id="overlay">
        <ul>
            <li></li>
            <li><a href="/"><b>Главная</b></a></li>
            <li><a href="/psychology"><b>Психология</b></a></li>
            <li><a href="/neuropsychology"><b>Нейропсихология</b></a></li>
            <li><a href="/speech"><b>Логопедия</b></a></li>
            <li><a href="/feedback"><b>Отзывы</b></a></li>
            <li><a href="/account">
                    <img src="/images/user.png" alt="login" class="scale" style="width: 130px; height: 130px;">
                </a>
                <a href="/registration">
                    <img src="/images/login.png" alt="registration" class="scale"
                        style="width: 130px; height: 130px;">
                </a>
            </li>
        </ul>
    </div>
    <article>
        <h1><b>Мне можно доверять</b></h1>
        <p>
            <b>ПОДХОД К КАЖДОМУ КЛИЕНТУ ИНДИВИДУАЛЕН.</b> Моя цель - помочь вам и вашему ребёнку, а не разорить
            вас.
            Большинство "Специалистов" холодно относятся к своим клиентам, берут баснословные деньги за
            консультацию-пустышку.
            Мне же не составит труда продлить время общения с клиентом если на то есть
            необходимость. Мои клиенты - это мои друзья. Я не завышаю цены, и не беру деньги за дополнительные
            услуги (Только по делу).
        </p>
        <blockquote>
            <figure>
                <p>
                    Хочется выразить большую благодарность Маргарите Эдуардовне. Ребенок остался в восторге, как
                    и
                    родитель :)
                    После сеансов ребенок перестал запинаться, его речь стала намного
                    чище!
                    Обязательно придём ещё. Оценка пять с плюсом
                    <span class="attribution">Карина<br>Смирнова</span>
                </p>
            </figure>

        </blockquote>
        <p>
            Формат консультации - разговорно-интерактивный. Ребёнок может учиться долгое время не чуствуя
            усталости
            - это необходимое условие.
            Ведь среднее время консультации целый час. И большинству нравится такой подход. По моей статистике
            90%
            клиентов - записываются на новое
            занятие, и с радостью после консультации хотят посещать занятия регулярно осозновая прогресс. Не
            удивительно, ведь я способна найти <b>язык с
                каждым</b> человеком любого возраста и пола.
        </p>
        <blockquote>
            <figure>
                <p>
                    Который раз убеждаюсь что Маргариты Эдуардовна проффесионал в своём деле. Ходим уже полгода,
                    изменения видны
                    с первых приёмов. Рёбенок всегда остаётся довольным, и энергичным.
                    <span class="attribution">Анна<br>Иванова</span>
                </p>

            </figure>
        </blockquote>
        <p>
            Смогу вас заверить, что мой многолетний опыт показывает, что все дети одаренные, только в разных ракурсах.
            Открывая беспредельные возможности каждого ребенка, можно заметить индивидуальную изюминку
            и ставя ее во главу угла и потенциальные возможности и резерв восприятия информационного
            потока достичь планку осознанности и интеллектуальной высоты восприятия, обработки и синтеза умственных
            способностей.
        </p>
        <blockquote>
            <figure>
                <p>
                    Тут и словами не опишешь насколько я рада что попала к такому замечательному логопеду.
                    Буквально две консультации, и ребёнок может нормально говорить.
                    <span class="attribution">Анастасия<br>Петровна</span>
                </p>
            </figure>
        </blockquote>
        <p>Корректировка, научение и движение обязательно дадут положительную динамику в
            развитии каждого ребенка. Я очень надеюсь, что моя с вами
            общая положительная работа даст неоценимый вклад в будущее наших детей. Время будет идти с пользой для вас и
            вашего ребенка. Если у вас есть хоть маленькие сомнения, предлагаю перевести свой взгляд налево и там вы
            сможете лично ознакомиться с отзывами моих клиентов, которым я смогла помочь.</p>
    </article>

    <div>
        <a href="/telegram"><img src="/images/telegram.png" alt="tg" class="scale"
                style="position: fixed; right: 0; bottom: 0;" /></a>
    </div>

</body>

</html>