<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Психология</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/imganimation.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/menu.css">

    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/imganimation.css}" />
    <link rel="stylesheet" th:href="@{/css/menu.css}" />

</head>

<body>
    <input type="checkbox" id="overlay-input" />
    <label for="overlay-input" id="overlay-button"><span></span></label>
    <div id="overlay">
        <ul>
            <li><a href="/"><b>Главная</b></a></li>
            <li><a href="/psychology"><b>Психология</b></a></li>
            <li><a href="/neuropsychology"><b>Нейропсихология</b></a></li>
            <li><a href="/speech"><b>Логопедия</b></a></li>
            <li><a href="/feedback"><b>Отзывы</b></a></li>
            <li><a href="/account">
                    <img src="/images/user.png" alt="login" class="scale" style="width: 130px; height: 130px;">
                </a>
                <a href="/registration">
                    <img src="/images/login.png" alt="registration" class="scale" style="width: 130px; height: 130px;">
                </a>
            </li>
        </ul>
    </div>
    <article>
        <h1><b>Детский психолог</b></h1>
        <p>
        <nav>
            <li><a href="#who" style="color: black;">Кто это такой?</a></li>
            <li><a href="#psy" style="color: black;">Важность детской психики</a></li>
            <li><a href="#act" style="color: black;">Актуальность</a></li>
            <li><a href="#exes" style="color: black;">Занятия</a></li>
            <li><a href="#rec" style="color: black;">Как записаться</a></li>
        </nav>
        </p>
        <h3 id="who">Кто это такой?</h3>
        <p>
            Думаю многие знают кто такой психолог, но лучше узнать про него поподробнее.
            Детский психолог это специалист, который работает с детьми и их родителями для
            улучшения психологического благополучия и развития детей. Они помогают детям развивать
            навыки личности, решать проблемы, преодолевать стресс, адаптироваться к изменениям и
            достигать своего потенциала. Детские психологи используют различные методики и техники,
            такие как игровая терапия, беседы, тестирование и наблюдение, чтобы понять и помочь ребенку
            справиться с его эмоциями, поведением или другими проблемами.
            Они также консультируют родителей по воспитанию детей и оказывают им поддержку в трудных ситуациях.
        </p>
        <h3 id="psy">Важность детской психики</h3>
        <p>
            Нельзя не обратить внимание, что я детский психолог! Важно понимать, что развитие ребенка происходит
            во всех аспектах его жизни(будущие отношения, интелект, успеваемость и тд.), и психологическое состояние
            играет ключевую роль в этом процессе.
        </p>
        <blockquote>
            <figure>
                <p>Младший школьный возраст - очень ответственный период школьного детства, от полноценного проживания
                    которого зависит уровень интеллекта, желания и умение учиться, уверенность в своих силах.
                    <span class="attribution"><a href="/curse">Подробная<br>информация</a></span>
                </p>
            </figure>
        </blockquote>
        <p>Можно привести сотню причин почему детская психология так важна, вот
            самые важные из них:</p>
        <nav style="margin-left: 2rem;">
            <details>
                <summary>1.Понимание эмоционального состояния ребенка</summary>
                <p >Дети еще не имеют полного контроля над своими эмоциями и не всегда могут выразить свои чувства
                    словами. Психологическое понимание помогает нам распознавать эмоциональные сигналы детей и
                    предлагать им подходящие способы выражения и регуляции эмоций.</p>
            </details>
            <details>
                <summary>2.Развивающиеся мозг и когнитивные навыки</summary>
                <p>Исследования показывают, что детский мозг развивается в удивительном темпе в раннем детстве.
                    Понимая этот процесс, мы можем помочь детям в развитии когнитивных навыков, таких как внимание,
                    память, мышление и решение проблем.</p>
            </details>
            <details>
                <summary>3.Психологическое здоровье и благополучие</summary>
                <p>Детская психология помогает нам определить факторы, которые могут оказывать негативное влияние на
                    психическое здоровье детей. Психологические проблемы у детей могут проявиться различными способами,
                    включая эмоциональные и поведенческие проблемы. Раннее выявление и помощь в решении этих проблем
                    могут способствовать здоровому психологическому развитию.</p>
            </details>
            <details>
                <summary>4.Установление здоровых отношений</summary>
                <p>Детская психология помогает нам понять, как дети строят и поддерживают отношения с окружающими
                    людьми, включая семью, сверстников и учителей. Отношения играют важную роль в поддержании
                    психологического благополучия и социальной адаптации детей.</p>
            </details>
            <details>
                <summary>5.Развитие родительских навыков</summary>
                <p>Родители являются важными фигурами в жизни ребенка. Детская психология помогает родителям понять, как
                    эффективно воспитывать и поддерживать развитие своего ребенка. Психологические методы и подходы
                    могут быть использованы для разрешения проблем и создания здоровой семейной среды.</p>
            </details>
        </nav>
        <p>Детский психолог играет ключевую роль во взаимодействии с ребенком, предоставляя ему поддержку, помощь и
            необходимые стратегии для успешного развития и преодоления трудностей.
        </p>
        <h3 id="act">Актуальность</h3>
        <p>Детский психолог актуален как никогда. Дети сталкиваются с различными стрессовыми ситуациями в школе,
            переносят
            огромный объем информации <b style="text-decoration: underline;">каждый день</b>. Те же самые социальные сети: имеют как
            положительные(бесконечные знания),
            так и отрицательные(буллинг) последствия для детей, и чтобы ребенок не потерялся во всей всей суете
            технологического
            прогресса существует психолог. Но есть и другие причины актуальности детской психологии. Сейчас все больше
            родителей
            осознают значимость психического здоровья детей, и могу ускорить процесс помощи.
        </p>
        <h3 id="exes">Занятия</h3>
        <p>
            Занятия лучше проводить несколько раз в неделю - это поможет ребенку разгрузиться после учебной рутины, и
            отдохнуть по полной! Перед занятиям мы поговорим о младенчестве и раннем детсве, чтобы получше узнать ребенка.
            Идут занятия примерно 1,5 часа, за это время можно провести диагностику и выявить все проблемы. Конечно же
            консультации ведутся в
            игровом формате - это же ребенок.
        </p>
        <blockquote>
            <figure>
                <p>"Лучше один раз увидеть, чем сто раз услышать".
                    <span class="attribution">Цитаты</span>
                </p>

            </figure>
        </blockquote>
        <p>
            Игровой формат необходим для раскрытия личности, и создания дружеской
            атмосферы. Стоимость может
            варироваться(это обсуждаете со мной лично), но при оплате нужно будет заплатить определённую сумму.
            Я не думаю что стоит вдаваться в подробности, ведь занятия могут отличаться по структуре(в зависимости от
            ситуации), для более подробной информации вы можете перейти по ссылке(здесь будет ссылка на файлик от мэ).
        </p>
        <h3 id="rec">Как записаться</h3>
        <p>
            Чтобы записаться на консультацию вы должны пройти небольшую регистрацию на <a href="/registration">сайте</a>
            после чего выбрать
            нужную дату и время проведения занятия, оплативаете и ждёте сообщения на почту!
            Буду вас ждать!
        </p>
    </article>
    <div>
        <a href="/telegram"><img src="/images/telegram.png" alt="tg" class="scale"
                style="position: fixed; right: 0; bottom: 0;" /></a>
    </div>
</body>

</html>