<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Логопедия</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/imganimation.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/menu.css">

    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/imganimation.css}" />
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
</head>

<body>
    <input type="checkbox" id="overlay-input" />
    <label for="overlay-input" id="overlay-button"><span></span></label>
    <div id="overlay">
        <ul>
            <li></li>
            <li><a href="/"><b>Главная</b></a></li>
            <li><a href="/psychology"><b>Психология</b></a></li>
            <li><a href="/neuropsychology"><b>Нейропсихология</b></a></li>
            <li><a href="/speech"><b>Логопедия</b></a></li>
            <li><a href="/feedback"><b>Отзывы</b></a></li>
            <li><a href="/account">
                    <img src="/images/user.png" alt="login" class="scale" style="width: 130px; height: 130px;">
                </a>
                <a href="/registration">
                    <img src="/images/login.png" alt="registration" class="scale" style="width: 130px; height: 130px;">
                </a>
            </li>
        </ul>
    </div>
    <article>
        <h1>Детский логопед</h1>
        <nav>
            <li><a href="#who" style="color: black;">Кто это такой?</a></li>
            <li><a href="#roads" style="color: black;">Направления</a></li>
            <li><a href="#methods" style="color: black;">Методики</a></li>
            <li><a href="/psychology#exes" style="color: black;">Занятия</a></li>
        </nav>
        <h3>Кто это такой?</h3>
        <p>
            Детский логопед - это специалист, который занимается диагностикой, лечением и коррекцией речи у детей. Он
            помогает детям с различными нарушениями речи, такими как недостатки произношения, задержка речевого
            развития, дизартрия, логоневрозы и другие.
        </p>
        <blockquote>
            <figure>
                <p>
                    <img src="/images/two-people-talking.png" alt="two-people-talking">
                </p>
            </figure>
        </blockquote>
        <p>
            Работа детского логопеда включает в себя проведение диагностических тестов и обследований, разработку
            индивидуальных планов коррекционных занятий, применение специальных упражнений и методик для улучшения речи,
            а также обучение родителей и родственников методам и техникам общения с ребенком.
            Детский логопед играет важную роль в развитии речевых навыков у детей, помогая им преодолеть трудности и
            достичь нормы для их возраста.
        </p>
        <h3>Направления</h3>
        <p>
            В логопедии есть большое количество направлений, и я расскажу с какими я смогу помочь вашему ребенку.
        </p>
        <!-- <nav>
            <details>
                <summary>1.Запуск речи</summary>
            </details>
            <details>
                <summary>2.Коррекция звукопроизношения</summary>
            </details>
            <details>
                <summary>3.Логопедический массаж</summary>
            </details>
            <details>
                <summary>4.Формирование речевого дыхания</summary>
            </details>
            <details>
                <summary>5.Развитие связанной речи</summary>
            </details>
        </nav> -->
        <p>
            То есть я смогу помочь вашему ребенку практически во всём что связанно с речью.
        </p>
        <h3 id="methods">Методики</h3>
        <p>Но какие же методики использую я? </p>
    </article>

    <div>
        <a href="/telegram"><img src="/images/telegram.png" alt="tg" class="scale"
                style="position: fixed; right: 0; bottom: 0;" /></a>
    </div>
</body>

</html>